<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace = "com.cqjtu.bysj.mapper.AdminUserMapper">


    <select id="getPasswordByJobNo" resultType="string" parameterType="string">
        select password from admin_user
        <where>
            <if test="jobNo != null and jobNo !=''" >
                and  job_no = #{jobNo}
            </if>
        </where>
    </select>
    <select id="getRoleListByJobNo" resultType="com.cqjtu.bysj.entity.Role" parameterType="string">
        select
        r.id roleId,
        r.role_name roleName
        from sys_user_roles s
        left join sys_role r

        on s.roles_id = r.id
        <where>
            <if test="jobNo != null and jobNo !=''" >
                and  job_no = #{jobNo}
            </if>
        </where>
    </select>
    <select id="findUserByJobNo" resultType="com.cqjtu.bysj.entity.AdminUser" parameterType="string">
        select
        id userId,
        username,
        job_no jobNo,
        password,
        email,
        phone,
        sex,
        birthday
        from admin_user
        <where>
            <if test="jobNo != null and jobNo !=''" >
                and  job_no = #{jobNo}
            </if>
        </where>
    </select>


    <update id="updatePwdByJobNo" parameterType="map">
        update admin_user
        set password = #{newPassword}
        <where>
            <if test="jobNo != null and jobNo !=''" >
                and  job_no = #{jobNo}
            </if>
        </where>
    </update>

    <insert id="batchImport" parameterType="java.util.List">
        insert into admin_user(id,username, job_no, password)
        values

        <foreach collection="list" item="item" index="index" separator="," >
            (null,
            #{item.username},
            #{item.jobNo},
            #{item.password}
            )
        </foreach>

    </insert>
    <insert id="batchImportUserRole" parameterType="java.util.List">
        insert into sys_user_roles(id,job_no, roles_id)
        values

        <foreach collection="list" item="item" index="index" separator="," >
            (null,
            #{item.jobNo},
            #{item.roleId}
            )
        </foreach>

    </insert>


<select id="getAllTeacherAndStudent" resultType="com.cqjtu.bysj.entity.AdminUser">
        select
         u.id userId,
         u.username,
         u.job_no jobNo,
         u.email,
         u.phone,
         u.sex,
         r.role_name role,
         u.birthday

         from admin_user u
    left join sys_user_roles ur
    on u.job_no = ur.job_no
    left join sys_role r
    on ur.roles_id = r.id
    where r.id > 1
</select>
    <delete id="deleteUser" parameterType="string">
        delete from admin_user
        <where>
            <if test="jobNo != null and jobNo !=''" >
                and  job_no = #{jobNo}
            </if>
        </where>
    </delete>
    <delete id="deleteUserRole" parameterType="string">
        delete from sys_user_roles
        <where>
            <if test="jobNo != null and jobNo !=''" >
                and  job_no = #{jobNo}
            </if>
        </where>
    </delete>

    <select id="getAllJobNo" resultType="string">
        select job_no from admin_user
    </select>

    <update id="updateUserProfile" parameterType="map">
        update admin_user
        set
        email = #{email},
        phone = #{phone},
        birthday = #{birthday}
        <where>
            <if test="jobNo != null and jobNo !=''" >
                and  job_no = #{jobNo}
            </if>
        </where>
    </update>



</mapper>
