<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace = "com.cqjtu.bysj.mapper.ChapterMapper">
    <insert id="createChapter"  parameterType="com.cqjtu.bysj.entity.Chapter"
            useGeneratedKeys="true" keyProperty="chapterId" >
    insert into chapter
    (creator_job_no,
     chapter_order,
     chapter_name,
     course_id,
     course_name)
    values (#{creatorJobNo,jdbcType=VARCHAR},
    #{chapterOrder,jdbcType=INTEGER},
    #{chapterName,jdbcType=VARCHAR},
    #{courseId,jdbcType=INTEGER},
    #{courseName,jdbcType=VARCHAR})

    </insert>

    <update id="updateChapter" parameterType="com.cqjtu.bysj.entity.Chapter"
            useGeneratedKeys="true" keyProperty="chapterId">
        update chapter
        set chapter_name = #{chapterName},
        chapter_order = #{chapterOrder},
        course_id = #{courseId},
        course_name = #{courseName}
        <where>
            <if test="chapterId != null and chapterId !=''" >
                and  id = #{chapterId}
            </if>
        </where>
    </update>

    <select id="getChapterList" resultType="com.cqjtu.bysj.entity.Chapter" parameterType="integer">
        select
        id chapterId,
        chapter_name chapterName,
        chapter_order chapterOrder,
        create_time createTime,
        course_id courseId,
        course_name courseName


        from chapter
        <where>
            <if test="courseId != null and courseId !=''" >
                and  course_id = #{courseId}
            </if>
        </where>
    </select>

    <delete id="deleteChapter" parameterType="long">
        delete from chapter
        <if test="chapterId !='' and chapterId !=null">
            where id = #{chapterId}
        </if>
    </delete>

    <delete id="deleteChapterByCourseId" parameterType="long">
        delete from chapter
        <if test="courseId !='' and courseId !=null">
            where course_id = #{courseId}
        </if>
    </delete>







</mapper>
