<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace = "com.cqjtu.bysj.mapper.CourseWareMapper">
    <insert id="createCourseWare"  parameterType="com.cqjtu.bysj.entity.CourseWare"
            useGeneratedKeys="true" keyProperty="courseWareId">
    insert into course_ware
    (creator_job_no,
     course_ware_name,
     course_id,
     chapter_id,
     external_link,
     preview_link,
     ware_type)
    values (#{creatorJobNo,jdbcType=VARCHAR},
    #{courseWareName,jdbcType=VARCHAR},
    #{courseId,jdbcType=INTEGER},
    #{chapterId,jdbcType=BIGINT},
    #{externalLink,jdbcType=VARCHAR},
    #{previewLink,jdbcType=VARCHAR},
    #{wareType,jdbcType=INTEGER})

    </insert>



    <select id="getCourseWareList" resultType="com.cqjtu.bysj.entity.CourseWare" parameterType="map">
    select
    id courseWareId,
    course_ware_name courseWareName,
    create_time createTime,
    external_link externalLink,
    preview_link previewLink,
    ware_type wareType

    from course_ware
    <where>
    <if test="chapterId != null and chapterId !=''" >
    and  chapter_id = #{chapterId}
    </if>

        <if test="wareType != null and wareType !=''" >
            and  ware_type = #{wareType}
        </if>
    </where>
    </select>


    <select id="getCourseWareListByCourseId" resultType="com.cqjtu.bysj.entity.CourseWare" parameterType="map">
        select
        id courseWareId,
        course_ware_name courseWareName,
        create_time createTime,
        external_link externalLink,
        preview_link previewLink,
        ware_type wareType

        from course_ware
        <where>
            <if test="courseId != null and courseId !=''" >
                and  course_id = #{courseId}
            </if>

            <if test="wareType != null and wareType !=''" >
                and  ware_type = #{wareType}
            </if>
        </where>
    </select>




    <delete id="deleteCourseWare" parameterType="long">
    delete from course_ware
    <if test="courseWareId !='' and courseWareId !=null">
    where id = #{courseWareId}
    </if>
    </delete>

    <delete id="deleteCourseWareByCourseId" parameterType="long">
        delete from course_ware
        <if test="courseId !='' and courseId !=null">
            where course_id = #{courseId}
        </if>
    </delete>





</mapper>
