<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace = "com.cqjtu.bysj.mapper.CourseInfoMapper">
    <insert id="createCourseInfo"  parameterType="com.cqjtu.bysj.entity.CourseInfo"
            useGeneratedKeys="true" keyProperty="courseInfoId" >
    insert into course_info
    (
     creator_job_no,
     info_name,
     info_detail,
     info_type)

    values (#{creatorJobNo,jdbcType=VARCHAR},
    #{infoName,jdbcType=VARCHAR},
    #{infoDetail,jdbcType=VARCHAR},
    #{infoType,jdbcType=INTEGER})

    </insert>

    <select id="getCourseInfoByType" resultType="com.cqjtu.bysj.entity.CourseInfo" parameterType="integer">
        select
        id courseInfoId,
        create_time createTime,
        creator_job_no creatorJobNo,
        info_name infoName,
        info_detail infoDetail,
        info_type infoType
        from course_info
        <if test="infoType !='' and infoType !=null">
            where info_type = #{infoType}
        </if>



    </select>


    <delete id="deleteCourseInfo" parameterType="integer">
        delete from course_info
        <if test="courseInfoId !='' and courseInfoId !=null">
            where id = #{courseInfoId}
        </if>
    </delete>

</mapper>
