<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace = "com.cqjtu.bysj.mapper.PracticalConditionMapper">
    <insert id="createPracticalCondition"  parameterType="com.cqjtu.bysj.entity.PracticalCondition"
            useGeneratedKeys="true" keyProperty="practicalConditionId" >
    insert into practical_condition
    (practical_condition_name,
     creator_job_no,
     `describe`,
     file_type,
     external_link,
     preview_link)

    values (#{practicalConditionName,jdbcType=VARCHAR},
    #{creatorJobNo,jdbcType=VARCHAR},
    #{describe,jdbcType=VARCHAR},
    #{fileType,jdbcType=INTEGER},
    #{externalLink,jdbcType=VARCHAR},
    #{previewLink,jdbcType=VARCHAR})

    </insert>



    <select id="getAllFileByType" resultType="com.cqjtu.bysj.entity.PracticalCondition" parameterType="integer">
        select
        id practicalConditionId,
        practical_condition_name practicalConditionName,
        upload_time uploadTime,
        creator_job_no creatorJobNo,
        `describe`,
        file_type fileType,
        external_link externalLink,
        preview_link previewLink
        from practical_condition
        <if test="fileType !='' and fileType !=null">
            where file_type = #{fileType}
        </if>



    </select>


    <delete id="deletePracticalCondition" parameterType="long">
        delete from practical_condition
        <if test="conditionId !='' and conditionId !=null">
            where id = #{conditionId}
        </if>
    </delete>











</mapper>
