<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace = "com.cqjtu.bysj.mapper.TeachExampleMapper">
    <insert id="createTeachExample"  parameterType="com.cqjtu.bysj.entity.TeachExample"
            useGeneratedKeys="true" keyProperty="teachExampleId">
    insert into teach_example
    (creator_job_no,
     teach_example_name,
     course_id,
     external_link,
     preview_link)
    values (#{creatorJobNo,jdbcType=VARCHAR},
    #{teachExampleName,jdbcType=VARCHAR},
    #{courseId,jdbcType=BIGINT},
    #{externalLink,jdbcType=VARCHAR},
    #{previewLink,jdbcType=VARCHAR})

    </insert>



    <select id="getTeachExampleList" resultType="com.cqjtu.bysj.entity.TeachExample" parameterType="long">
        select
        id teachExampleId,
        teach_example_name teachExampleName,

        external_link externalLink,
        preview_link previewLink,
        upload_time uploadTime,
        creator_job_no creatorJobNo,
        course_id courseId



        from teach_example
        <where>
            <if test="courseId != null and courseId !=''" >
                and  course_id = #{courseId}
            </if>


        </where>
    </select>





    <delete id="deleteTeachExample" parameterType="long">
        delete from teach_example
        <if test="exampleId !='' and exampleId !=null">
            where id = #{exampleId}
        </if>
    </delete>







</mapper>
